* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Inter: 'Inter', sans-serif;
    --Open-sans: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: var(--Open-sans);
    height: 100vh;
}

#hero {
    width: 592px;
    margin: 0px auto;
}

h1 {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
    margin-top: 72px;
}

h1 > span {
    font-weight: 700;
}

span, a {
    color: #FF9900;
}

p {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 32px;
}

p > strong {
    color: #7D7987;
    font-weight: 700;
}

#footer {
    width: 568px;
    border-top: 1px solid #ECEFF2;
    padding: 8px 0px;
}

#footer > a {
    text-decoration: none;
}

#footer > a + a {
    margin-left: 28px;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}