@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 62.5%;

    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    white-space: nowrap;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
}

body {
    background: black;
    font-size: 1.6rem;
}

body * {
    color: white;
    font-family: var(--roboto);
}

#app {
    width: 112rem;
    margin: 0 auto;
}