.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: var(--gray-800);
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}

.header strong {
  color: var(--gray-100);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 4.0937rem */
}
