* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white-100: #ffffff;
    --color-blue-500: #040924;
    --color-blue-200: #02799D;
    --color-dark-green: ##0C3440;
    --color-green-500: #00453A;
    --color-gray-100: #DCE2E9;
    --color-gray-400: #49505780;
    --color-gray-500:#212529;
    --color-red-300: #F03E3E;
    --color-placeholder: #49505780;

    --roboto: 'Roboto', sans-serif;
    font-size: 62.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    -moz-appearance: textfield;
    
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--color-blue-500);
    font-size: 1.6rem;

    padding: 2rem;
}

main {
    display: grid;
    gap: 3.2rem;
    background: var(--color-white-100);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

main, button {
    font-family: var(--roboto);
}

h1, #modal p {
    color: var(--color-green-500);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
}

form {
    display: grid;
    gap: 1.6rem;
    width: 30rem;
}

.WeightWrapper,
.heightWrapper {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

label {
    color: var(--color-green-500);
    font-family: var(--roboto);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

input {
    background: var(--color-gray-100);
    border: 1px solid var(--color-gray-400);
    color: var(--color-gray-500);
    border-radius: 0.4rem;
    padding: 1.6rem;
    width: 100%;
}

input::placeholder {
    color: var(--color-placeholder);
}

input:focus {
    outline: 2px solid var(--color-blue-200);
    border-color: transparent;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    background: var(--color-blue-200);

    border: none;
    border-radius: .4rem;
    padding: 1.6rem;
    margin-top: 1.6rem;

    cursor: pointer;
    transition: background .4s;
}

button:hover {
    background: #095870;
}

button, .messageAlert p {
    color: var(--color-white-100);
    font-family: var(--roboto);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
}

.messageAlert.open {
    display: flex;
    animation: showAlertMessage .4s forwards;
}

.messageAlert {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: -50px;
    width: 100vw;
    background: var(--color-red-300);
    padding: .8rem 1.6rem;
}

.messageAlert button,
#modal button {
    position: absolute;
    right: 1.6rem;
    margin: 0;
    padding: 0;
    background: transparent;
}

@keyframes showAlertMessage {
    form {
        top: -50px;
    } 
    
    to {
        top: 0;
    }
}

/* Moda styles */
#modal::backdrop {
    background-color: #1111116b;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: var(--roboto);
    padding: 4.8rem 6.4rem 6.4rem;

    border: none;
    border-radius: .6rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

#modal button {
    top: 1.6rem;
    right: 1.6rem;
} 

@media (max-width: 480px) {
    main {
        padding: 4rem;
    }

    form {
        width: 100%;
    }
}