.universe {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background: url('../images/universo.png');
}

.universe section {
    margin: 24rem 0 0 10.2rem;
}

section h1 {
    color: var(--platform-aliases-ttulos, #E1E1E6);
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 125%; /* 6rem */
}

section p {
    width: 64.8rem;
    color: var(--platform-aliases-ttulos, #E1E1E6);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 160%; /* 2.88rem */
    margin-top: 1.6rem;
}