@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    font-size: 62.5%;

    --ff-primar: 'Poppins', sans-serif;
    --text-color: #303030;

    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%)
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body * {
    font-family: var(--ff-primar);
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background: rgb(250, 254, 255);
}

button {
    background: var(--primary-color);
    border: 0;
}

#app {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

header h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

.githubUserSearch {
    display: flex;
}

.githubUserSearch input,
.githubUserSearch button {
    padding: .5rem;
    border-radius: .4rem 0 0 .4rem;
    border: 1px solid lightgray;
}

.githubUserSearch button {
    border-radius: 0 .4rem .4rem 0;
    border-left: 0;
    padding: .5rem .8rem;
    cursor: pointer;
}

.githubUserSearch button:hover {
    background: hsl(194, 100%, 74%);
}

table {
    width: 100%;
    margin-top: 2rem;
    border-radius: .8rem;
    border-collapse: collapse;
    
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
    font-size: 1.2rem;
    color: var(--text-color);
}

table th {
    background: var(--primary-color);
    padding: 1.5rem;
    text-align: center;
    font-weight: normal;
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;
}

table td {
    padding: 1.5rem;
}

td.followers,
td.repositoriesNumber {
    text-align: center;
}

table tr:nth-child(odd) {
    background: #ddd;
}

table tr {
    background: #eee;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

td.user p {
    font-weight: bold;
}

td.user span {
    display: inline-block;
    text-align: left;
}

td .remove {
    background: transparent;
    border: none;
    font-size: 2.4rem;
    color: rgb(136, 2, 2);
    cursor: pointer;
}

td .remove:hover {
    color: rgb(255, 0, 0);
}